@{
    ViewBag.Title = "AdminLayout";
}

<html>
<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        h1 {
            text-align: left;
            text-shadow: aqua;
            text-decoration: solid;
        }

        h2 {
            text-align: center;
        }

        h3 {
            text-align: right;
        }
    </style>
</head>
<body>
    <div>
        <table class="table table-striped table-hover info" border="1" style="width: 100%; height: auto; font-family: Arial">
            <thead>
             <tr class="info" style="width: 100%;background-color: darkgray">
                    <td colspan="4" width="100%">
                        <h3 style="float: right">@Html.ActionLink("LogOut", "LogOut", "Login", null, new {@class = "btn btn-info", @style = "background-color: #fe4b4c;"})</h3>
                        <h1 style="font-style: italic; font-variant: initial; color: #99157e">&nbsp; &nbsp;<u>SCMProfit</u>
                        </h1>
                    </td>
                </tr>
            <tr class="info" style="width: 100%">
                <td style="width: 25%; text-align: center">
                    <div>@Html.ActionLink("New Request", "NewRequest", "Admin")</div>
                </td>
                <td style="width: 25%; text-align: center">
                    <div>@Html.ActionLink("Tenant Management", "TenantManagement", "Admin")</div>
                </td>
                <td style="width: 25%; text-align: center">
                    <div>@Html.ActionLink("ID Admin", "IdAdmin", "Admin")</div>
                </td>
                <td style="width: 25%; text-align: center">
                    <div>@Html.ActionLink("Announcements", "Announcements", "Admin")</div>
                </td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    @RenderBody()
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
